@{
    ViewBag.Title = "Home Page";
}

<style>
   
    .jumbotron {
        background-image: url('https://disneyparksblog.com/app/uploads/2024/08/Pocahontas-Wallpaper-scaled.jpg');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        color: #fff; 
        padding: 2rem;
    }

        .jumbotron h1 {
            color: #ff69b4; 
        }

        .jumbotron p {
            color: #fff; 
        }

    .btn-active {
        background-color: #ff69b4; 
        color: white; 
        border: none;
        padding: 10px 20px;
    }

        .btn-active:hover {
            background-color: #ff1493; 
        }

    .row {
        background-color: #ffe4e1; 
        padding: 1rem;
    }

    .col-md-4 h2 {
        color: #ff69b4; 
    }

    .col-md-4 p {
        color: #ff1493; 
    }

    .btn-default {
        background-color: #ff69b4; 
        color: white;
        border: none;
    }

        .btn-default:hover {
            background-color: #ff1493; 
        }
</style>

<div class="jumbotron">
    <h1>"Princess"</h1>
    <p class="lead">Princess is a title used by a female member of a monarch's family or by a female ruler.</p>

    <p class="d-inline-flex gap-1">
        <button type="button" class="btn-active" data-bs-toggle="button">Learn more</button>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Disney Princesses</h2>
        <p>
            Be true to your heart, dig a little deeper, and see how far you’ll go!
            Discover the magic of your inner Disney Princess and be inspired to go out and create your world.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Real Life Princesses</h2>
        <p>There are a lot more princesses out there than you might think! From Princess Charlotte to Swedish Crown Princess Victoria, meet all the royal princesses of the world.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Disney Queens</h2>
        <p>
            Disney queens, whether benevolent like Elsa from Frozen or villainous like the Evil Queen from Snow White, are powerful figures who shape their stories through leadership, magic, or ambition. They represent both the complexities of ruling and the impact of power.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
